/* Add your CSS here */

/* Dont' forget to link this file to your HTML in the <head> */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Poppins;
    
  }
  
/* header */
body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Poppins;
  }
  
  .header {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #f1f1f1;
    padding: 20px 50px;
    font-family: Poppins;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    font-family: Poppins;
  }
  
  .logo {
    color: rgba(252, 107, 89,1);
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Poppins;
  }
  
  .login {
    display: flex;
    align-items: center;
    font-family: Poppins;
  }
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: Poppins;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
    font-family: Poppins;
  }
  
  .header a.active-discover-value {
    background-color: rgba(41,189,173,1);
    color: white;
    font-family: Poppins;
  }

  .header a.active-donate {
    background-color: rgba(252, 107, 89,1);
    color: white;
    font-family: Poppins;
  }
  
/* body */
 .your-old-tech-wrapper {
  height: 45vh;
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  font-size: 2.1rem;
  gap: 200px;
 }

 .value-color {
  color: rgba(41,189,173,1);
 }

 .sell-your-used-phone {
  font-size: 1rem;
  line-height: 2rem;
 }

 .your-old-tech {
  display: flex;
  flex-direction: column;
  gap: 15px;
 }
 .discover-value-button {
  font-size: 1rem;
  border-radius: 25px;
  background-color: #29BDAD;
  color: white;
  padding: 10px 20px;
}

.earth-wrapper {
  background-color: #D3D498;
  height: 30vh;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
}

.journey-of-tech {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* footer */

.footer-left {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-content: center;
 
  padding: 20px 50px;
  font-family: Poppins;
  gap: 20px;
}
.footer-left a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-family: Poppins;
}


#footer-socials {
  text-align: right;
  padding-right: 20px;
  display: flex;
  align-items: center;
  align-content: center;
}

#footer-socials .socials {
  text-align: right;
  margin: 0 -7px;
  display: inline-block;
  vertical-align: middle;
}

a.socials-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0 5px;
  line-height: 16px;
  padding: 10px;
  border-radius: 50%;
  background-color: #141421;
  border: 1px solid #2e2e4c;
  box-shadow: 3px 9px 16px rgb(0,0,0,0.4), -3px -3px 10px rgba(255,255,255, 0.06), inset 14px 14px 26px rgb(0,0,0,0.3), inset -3px -3px 15px rgba(255,255,255, 0.05);
}

.socials-item i {
  display: inline-block;
  font-weight: normal;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-size: 16px;
  text-align: center;
  vertical-align: top;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  text-rendering: auto;
}

.facebook {
  color: #4e64b5;
}

.twitter {
  color: #00aced;
}
.instagram {
  color: #9a8f62;
}
.youtube {
  color: #c82929;
}

.telegram {
  color: #2ca5e0;
}


a.socials-item:hover {
  box-shadow: 0 0px 20px rgba(84, 1, 74, 0.7);
  border-color: rgba(255, 6, 224, 0.61);
  background: linear-gradient(to right, rgba(255, 9, 9, 0.12941176470588237), #c000ffb5, rgba(255, 0, 94, 0.14));
}

.footer-bottom a:hover {
  color: white;
}


footer p, footer li {
  font-size: 15px;
  line-height: 22px;
}

.follow-us {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  padding-right: 20px;
}

.footer-conten-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15vh;
  background-color: #374b53;
  color: white;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  gap: 400px;
}